<h1>Editando las notas de un estudiante</h1>
<style= ".fields {margin-left:50px; }">
<%= render(:partial => 'form') %>
<%= link_to 'Mostrar', @estudiante %> |
<%= link_to 'Hacia atrás', estudiantes_path %>