<p>
  <b>Estudiante:</b>
  <%=h @credito.estudiante.nombre_completo %>
</p>

<p>
  <b>Curso:</b>
  <%=h @credito.curso.curso_caract %>
</p>


<%= link_to 'Edit', edit_credito_path(@credito) %> |
<%= link_to 'Back', creditos_path %>